.container {
  display: flex;
  justify-content: space-between;
  border:solid;
  border-width: 2px;
  border-radius: 10px;
  background-color: #e1fcf9;
}

.header {
  border: 4px solid #10b981;
  border-width: 1px;
  border-spacing: 20px;
  margin-left:-340px;
  margin-right: -320px;
  border-radius: 20px;
  background-color: #f6f6f7f2;
  margin-top: -5px;
  background-color: #ccffeb;
}
.simulator-section {
  margin-left: 550px;
  flex: 1;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

.direct-mapped-section {
  margin-left: 510px;
  margin-top: 7px;
  flex: 1;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.left-panel {
  width: 25%;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 143px;
  margin-left: 5px;
}

.center-panel {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  margin-right:-50px;
}

.right-panel {
  width: 25%;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 125px;
  margin-left: 30px;
}

.input-section {
  margin-bottom: 20px;
  border: 4px dotted #e1fcf9;
 
  background-color: #ccffeb;
}

.input-section input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
  
  background-color: #ffffff;
  border: 1px solid #10b981;
}

.input-section button {
  width: 48%;
  padding: 8px;
  cursor: pointer;
  
}

.instruction-section {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.hit {
  color: rgb(103, 178, 103);
}

.miss {
  color: rgb(226, 113, 113);
}

.hitno {
  color:rgb(103, 178, 103);
}

.missno {
  color: rgb(226, 113, 113);
}


.memory-block-section {
  border: 1px solid #ccc;
  padding: 10px;
  height: 400px; /* Set the height as per your requirement */
  overflow: auto; /* Enable scrolling */
}

.memory-block-section table {
  width: 100%;
}

.memory-block-section th,
.memory-block-section td {
  padding: 8px;
  text-align: left;
}

.cache-table {
  
  height: 400px;
  /* border: 2px solid #10b981; */
  padding: 10px;
  overflow: auto;
}
.cache-table table {
  background-color:#ccffeb;
  border-collapse: collapse;
  width: 100%;
  border: 2px solid #10b981;
}

.cache-table th, .cache-table td {
  border: 1px solid #10b981;
  text-align: left;
  padding: 8px;
  background-color: #ffffff;
}

.cache-table th {
  background-color:#10b981;
}

.cache-table td table {
  border-collapse: collapse;
  width: 100%;
}

.cache-table td table td {
  border: 1px solid #10b981;
  text-align: left;
  padding: 4px;
}
.instruction-section {
  margin-top: 20px;
  border: 4px dotted #ccffeb;
}

.instruction-section table {
  width: 100%;
  border-collapse: collapse;
  background-color:  #ccffeb;
  border: 2px solid #10b981;

}

.instruction-section th, .instruction-section td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.instruction-section th {
  background-color: #10b981;
}

.instruction-section td {
  font-size: 16px;
}

.instruction-section .instruction-header {
  font-weight: bold;
}

.instruction-section .instruction-value {
  font-style: italic;
}
.memory-block-section {
  margin-top: 20px;
}

.memory-block-section div {
  margin-bottom: 10px;
}

.memory-block-section span {
  padding: 5px 10px;
  border: 1px solid #ccc;
  margin-right: 5px;
}

.memory-block-section span:last-child {
  margin-right: 0;
}

.memory-block-container {
  overflow-x: auto;
}

.memory-block-section {
  margin-top: 20px;
  white-space: nowrap;
  display: inline-block;
  border: 2px solid #10b981;
}

.memory-block-section span {
  padding: 5px 10px;
  border: 1px solid #10b981;
  margin-right: 5px;
}

.memory-block-section span:last-child {
  margin-right: 0;
}
/* .memtable {
  border: 2px solid #10b981;
} */

.memory-block-section span:nth-child(odd) {
  background-color: #ccffeb;
}
.memory-block-section span:nth-child(even) {
  
  background-color: #ffffff;
}
.button{
  background-color: #10b981;
  
  border: 1px dotted #e1fcf9;
}
/* Modal container */
.modal {
  display: flex; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal content */
.modal-content {
  background-color: #85dfac;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #035d1e;
  width: 50%; /* Could be more or less, adjust as needed */
}
.modal-content input[type="text"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.modal-content button {
  margin-left: 45%;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

