.container {
  display: flex;
  justify-content: space-between;
}

.left-panel,
.center-panel,
.right-panel {
  width: 30%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.input-section {
  margin-bottom: 20px;
}

.input-section input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 4px;
}

.input-section button {
  width: 48%;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
}

.instruction-section,
.cache-table,
.memory-block-section {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.instruction-table,
.cache-table table,
.memory-block-section table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
}

.instruction-table th,
.instruction-table td,
.cache-table th,
.cache-table td,
.memory-block-section th,
.memory-block-section td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.instruction-table th {
  background-color: #f0f0f0;
}

.button-group {
  padding:5px;
}